<div class="au-c-accordion {{this.skin}} {{this.reverse}}" ...attributes>
  <AuToolbar
    @nowrap={{true}}
    @reverse={{@reverse}}
    {{on "click" this.toggleAccordion}}
    data-test-accordion-toggle
    as |Group|
  >
    <Group class="au-u-1-1">
      <div class="au-u-1-1">
        <AuButton
          class="au-u-1-1"
          @skin="link"
          aria-expanded="{{if this.isOpen 'true' 'false'}}"
          data-test-accordion-button
        >
          <span class="au-u-1-1 au-u-flex au-u-flex--between">
            <p>
              {{@buttonLabel}}
            </p>
            <p class="au-u-h6">
              {{@sideLabel}}
            </p>
          </span>
        </AuButton>
        {{#if @subtitle}}
          <p data-test-accordion-subtitle>
            {{@subtitle}}
          </p>
        {{/if}}
      </div>
    </Group>
    <Group>
      {{#if this.isOpen}}
        <AuIcon
          @icon={{this.iconOpen}}
          @alignment="left"
          @size="large"
          @ariaHidden={{true}}
          data-test-accordion-icon-open={{this.iconOpen}}
        />
      {{else}}
        <AuIcon
          @icon={{this.iconClosed}}
          @alignment="left"
          @size="large"
          @ariaHidden={{true}}
          data-test-accordion-icon-closed={{this.iconClosed}}
        />
      {{/if}}
    </Group>
  </AuToolbar>
  {{#if this.isOpen}}
    <AuContent
      tabindex="0"
      class="au-u-padding-top"
      data-test-accordion-content
    >
      {{#if this.loading}}
        <AuLoader data-test-accordion-loader />
      {{else}}
        {{yield}}
      {{/if}}
    </AuContent>
  {{/if}}
</div>