
{{! First level: collections }}
<CustomAccordion @defaultOpen="true">
  <:toolbar>
    {{@collection.className}}
    <p class="au-u-para-tiny">
      <AuLinkExternal @skin="primary" class="truncate-url">
        {{@collection.classURI}}
      </AuLinkExternal>
    </p>
  </:toolbar>
  <:counts>{{@collection.count}}</:counts>
  <:content>
    {{#if this.tooManyDocuments}}
      <AuAlert @skin="warning">
        Deze publicatie bevat te veel documenten
      </AuAlert>
    {{/if}}
    {{#each @collection.objects as |object index|}}
      <RecursiveEntry @subject={{object}} @index={{index}}/>
    {{/each}}
  </:content>
</CustomAccordion>

