<CustomAccordion
  data-test-class-collection
  @defaultOpen={{if (current-url-hash @validationId) true false}}
  id="validationBlock-{{@validationId}}"
>
  <:toolbar>
    <span class="au-u-flex--vertical-center au-u-flex">
      <p
        class="au-u-margin-right-tiny au-u-margin-left-none au-u-margin-bottom-none"
      >
        <CopyToClipboard
          @hideValue="true"
          @icon="paperclip"
          @value="{{concat
            (current-url-without-hash)
            '#validationBlock-'
            @validationId
          }}"
        />
        {{@collection.className}}
      </p>
    </span>
  </:toolbar>
  <:counts>{{@collection.count}}</:counts>
  <:content>
    {{#if this.tooManyDocuments}}
      <AuAlert @skin="warning">
        <section class="au-u-1-1 accordion-title au-u-flex au-u-flex--between">
          <p class="au-u-para">
            Deze publicatie bevat te veel documenten!
          </p>
        </section>
      </AuAlert>
    {{/if}}
    {{#each @collection.objects as |object index|}}
      <RecursiveEntry
        @subject={{object}}
        @validationId={{join-with-dash @validationId index}}
      />
    {{/each}}
  </:content>
</CustomAccordion>