{{#let
  (fileQueue name=this.queueName onFileAdded=(perform this.upload))
  as |queue|
}}
  <FileDropzone
    @queue={{queue}}
    @filter={{this.filter}}
    class="{{if @disabled 'au-c-file-upload-disabled'}}
      au-c-file-upload au-u-background-gray-100"
    ...attributes
    as |dropzone|
  >
    {{#if dropzone.active}}
      <p class="au-c-file-upload-message">
        <AuIcon @icon="attachment" @alignment="left" />
        <AuHelpText @skin="secondary">{{this.helpTextDragDrop}}</AuHelpText>
      </p>
    {{else if queue.files.length}}
      <p class="au-c-file-upload-message">
        <small class="au-c-small-text">{{this.uploadingMsg}}</small>
      </p>
    {{else}}
      <label>
        <input
          accept={{@accept}}
          multiple={{@multiple}}
          type="file"
          hidden=""
          {{queue.selectFile filter=this.filter}}
        />
        <span class="au-c-file-upload-label">
          <span class="au-c-file-upload-label__title">
            <AuIcon @icon="attachment" @alignment="left" />
            {{this.title}}
          </span>
          {{#if dropzone.supported}}
            <AuHelpText @skin="secondary">{{this.helpTextDragDrop}}</AuHelpText>
          {{/if}}
        </span>
      </label>
    {{/if}}
    {{#if (is-feature-enabled "html-viewer")}}
      <div
        class="{{if this.uploadedFiles 'au-u-padding au-u-margin'}} page-bg"
        id="output"
      ></div>
    {{/if}}
  </FileDropzone>
{{/let}}

{{#if this.hasErrors}}
  <AuAlert
    @icon="alert-triangle"
    @skin="error"
    @size="small"
    @closable={{false}}
    class="au-u-margin-top-tiny"
  >
    <ul>
      {{#each this.uploadErrorData as |errorData|}}
        <li>
          Fout bij het opladen van
          {{errorData.fileName}}.
          {{#if errorData.errorMessage}}
            (Foutmelding:
            {{errorData.errorMessage}})
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </AuAlert>
{{/if}}
