<AuAlert @skin={{this.skin}} class={{this.displayClass}}>
  <CustomAccordion>
    <:toolbar>
      <p class="truncate-url au-u-h4">
        Artikel {{this.displayIndex}}
      </p>
      <p class="au-u-para-tiny">
        <AuLinkExternal @skin="primary" href={{@property.path}} class="truncate-url" title={{@property.path}}>
          {{@subject.uri}}
        </AuLinkExternal>
      </p>
      <p class="au-u-para">{{this.description}}</p>
    </:toolbar>
    <:counts>{{@subject.totalCount}}</:counts>
    <:content>
      {{#if this.loading}}
        <AuLoader data-test-accordion-loader />
      {{else}}
        {{#each @subject.properties as |property|}}
          <SubjectProperty @property={{property}} />
        {{/each}}
      {{/if}}
    </:content>
  </CustomAccordion>
</AuAlert>
