<AuAlert class="au-c-alert--neutral">
  <CustomAccordion>
    <:toolbar>
      <span class="au-u-para-tiny au-u-flex--vertical-center au-u-flex">
        <p class="truncate-url au-u-h4 au-u-margin-tiny au-u-margin-left-none">
          {{@subject.className}}
          {{this.displayIndex}}
        </p>
        <AuPill @skin={{this.skin}}>{{this.pillMessage}}</AuPill>
      </span>

      <span class="au-u-para-tiny au-u-flex au-u-margin-top-tiny">
        <p class="au-u-margin-tiny au-u-margin-left-none au-u-word-nowrap">
          Gevonden URI:
        </p>
        <CopyToClipboard @value={{@subject.uri}} />
      </span>
      <p class="au-u-para">{{this.description}}</p>
    </:toolbar>
    <:counts>{{this.countText}}</:counts>
    <:content>
      {{#if this.loading}}
        <AuLoader data-test-accordion-loader />
      {{else}}
        {{#each @subject.properties as |property|}}
          <SubjectProperty @property={{property}} />
        {{/each}}
      {{/if}}
    </:content>
  </CustomAccordion>
</AuAlert>
