<AuAlert @skin={{this.skin}} class={{this.displayClass}}>
  <CustomAccordion>
    <:toolbar>
      <p class="truncate-url au-u-h4">
        {{@subject.className}}
        {{this.displayIndex}}
      </p>
      <span class="au-u-para-tiny au-u-flex au-u-margin-top-tiny">
        <CopyToClipboard @value={{@subject.uri}} />
      </span>
      <p class="au-u-para">{{this.description}}</p>
    </:toolbar>
    <:counts>{{this.countText}}</:counts>
    <:content>
      {{#if this.loading}}
        <AuLoader data-test-accordion-loader />
      {{else}}
        {{#each @subject.properties as |property|}}
          <SubjectProperty @property={{property}} />
        {{/each}}
      {{/if}}
    </:content>
  </CustomAccordion>
</AuAlert>