<AuAlert class="au-c-alert--neutral">
  <CustomAccordion
    id="validationBlock-{{@validationId}}"
    @defaultOpen={{if (current-url-hash @validationId) true false}}
  >
    <:toolbar>
      <span class="au-u-flex--vertical-center au-u-flex">
        <p
          class="truncate-url au-u-h4 au-u-margin-tiny au-u-margin-top-none au-u-margin-left-none au-u-margin-bottom-none"
        >
          <CopyToClipboard
            @hideValue="true"
            @icon="paperclip"
            @value="{{concat
              (current-url-without-hash)
              '#validationBlock-'
              @validationId
            }}"
          />
          {{@subject.className}}
          {{this.displayIndex}}
        </p>
        <StatusPill @subject={{@subject}} />

        {{!-- <AuPill
          class={{this.classNames}}
          @skin={{this.skin}}
        >{{this.pillMessage}}</AuPill> --}}
      </span>

      <span class="au-u-para-tiny au-u-flex au-u-margin-top-tiny">
        <p class="au-u-margin-tiny au-u-margin-left-none au-u-word-nowrap">
          Gevonden URI:
        </p>
        <CopyToClipboard @value={{@subject.uri}} />
      </span>
      <p class="au-u-para">{{this.description}}</p>
    </:toolbar>
    <:counts>{{this.countText}}</:counts>
    <:content>
      {{#if this.loading}}
        <AuLoader data-test-accordion-loader />
      {{else}}
        {{#if this.isPdf}}
          <AuAlert @skin="warning">
            <section
              class="au-u-1-1 accordion-title au-u-flex au-u-flex--between"
            >
              <p class="au-u-para">
                Deze publicatie bevat een PDF-bestand, maar we raden aan om
                HTML-bestanden te gebruiken.
              </p>
            </section>
          </AuAlert>

        {{/if}}

        {{#each @subject.sparqlValidationResults as |sparqlValidationResult|}}
          <AuAlert @skin="warning">
            <section
              class="au-u-1-1 accordion-title au-u-flex au-u-flex--between"
            >
              <ul>
                <li>{{sparqlValidationResult.resultMessage}}</li>
                <li>Eigenschap: {{sparqlValidationResult.resultPath}}</li>
                <li>Waarde: {{sparqlValidationResult.value}}</li>
              </ul>
            </section>
          </AuAlert>
        {{/each}}

        {{#each @subject.properties as |property index|}}
          {{#let (add index 1) as |newIndex|}}
            <SubjectProperty
              @property={{property}}
              @validationId={{join-with-dash @validationId newIndex}}
            />
          {{/let}}
        {{/each}}
      {{/if}}
    </:content>
  </CustomAccordion>
</AuAlert>