<CustomAccordion @defaultOpen="true">
  <:toolbar>
    {{@subject.className}}
    <span class="au-u-para-tiny au-u-flex au-u-margin-top-tiny">
      <p class="au-u-margin-right-tiny au-u-word-nowrap">
        Gevonden URI:
      </p>
      <AuLinkExternal @skin="primary" class="truncate-url">
        {{@subject.uri}}
      </AuLinkExternal>
    </span>
  </:toolbar>
  <:counts>{{this.displayCounts}}</:counts>
  <:content>
    {{#if this.loading}}
      <AuLoader data-test-accordion-loader />
    {{else}}
      {{#each @subject.properties as |property|}}
        <SubjectProperty @property={{property}} />
      {{/each}}
    {{/if}}
  </:content>
</CustomAccordion>