<AuAlert class="au-c-alert--neutral">
  <CustomAccordion @defaultOpen="true">
    <:toolbar>
      <span class="au-u-para-tiny au-u-flex--vertical-center au-u-flex">
        <p class="au-u-h4 au-u-margin-tiny au-u-margin-left-none au-u-margin-bottom-none">{{@property.name}}</p>
        <AuPill @skin={{this.skin}}>{{this.pillMessage}}</AuPill>
      </span>
      <span
        style="flex-grow: 1;"
        class="au-u-para-tiny au-u-flex au-u-margin-top-tiny"
      >
        <p class="au-u-margin-tiny au-u-margin-left-none au-u-word-nowrap">
          Gevonden path:
        </p>
        <CopyToClipboard @value={{@property.path}} />
          <AuButton
            class="{{this.displayExampleButtonClass}}"
            @skin={{"naked"}}
            {{on "click" this.toggleShowExample}}
          >
            Voorbeeld
          </AuButton>
      </span>
      <p class="au-u-para">{{@property.description}}</p>
      <div class="{{this.displayExampleClass}}">
        <CodeBlock class="au-u-para-tiny" @code={{this.displayExample}} @language="markup" />
      </div>

    </:toolbar>
    <:counts>{{this.countText}}</:counts>
    <:content>
      {{#if this.hasNoValues}}
        <p>Geen waarde gevonden</p>
      {{else}}
        {{#each @property.value as |value index|}}
          {{#if value.uri}}
            <RecursiveEntry @subject={{value}} @index={{index}} />
          {{else}}
            <p>{{formatValue value}}</p>
          {{/if}}
        {{/each}}
      {{/if}}
    </:content>
  </CustomAccordion>
</AuAlert>
