{{page-title "Validatie Tool"}}
<AuApp>
  <AuToaster />
  <AuMainHeader
    @brandLink="https://www.vlaanderen.be/nl"
    @homeRoute="application"
    @appTitle="Validatie Tool"
  />
  <AuMainContainer as |container|>
    <container.content class="au-u-flex au-u-flex--center">
      <AuContent
        class="au-u-padding-top-large au-u-padding-small au-u-padding-large@medium au-u-1-2@large"
      >
        <span class="au-u-text-center">
          <h2>Validatie van een agenda, besluitenlijst of notulen</h2>
          <p class="au-u-margin-top-tiny">Hieronder kunt u de link naar het
            document plakken of een HTML-bestand uploaden.</p>
        </span>
        <form class="au-c-form">
          <AuFormRow @alignment="default">
            <AuInput
              placeholder="Link naar het document"
              {{on "input" this.handleChange}}
              @value={{this.publication}}
              id="input"
              @width="block"
            />
          </AuFormRow>
          <h4 class="au-u-text-center">OF</h4>
          <AuFormRow>
            <FileInput
              class="au-u-1-1"
              @accept={{"text/html"}}
              @title={{"Upload een HTML-bestand"}}
              @endPoint={{"/file-handling"}}
              @helpTextDragDrop={{"Sleep het bestand naar hier om toe te voegen"}}
              @helpTextFileNotSupported={{"Dit bestandstype wordt niet ondersteund"}}
              @onFinishUpload={{this.onFinishUpload}}
            />
          </AuFormRow>
          <AuButton
            @loading={{this.loading}}
            @loadingMessage={{this.loadingMessage}}
            @disabled={{this.buttonDisabled}}
            @width="block"
            {{on "click" this.handleButton}}
            @variant="primary"
          >Volgende</AuButton>
          <AuFormRow />
        </form>
        {{!-- <div>
          <h2>{{this.amountOfRelevantPublications}} relevant publications</h2>
          {{#each this.resolvedPublication as |publication|}}
            <p>
              {{publication}}
            </p>
          {{/each}}
        </div> --}}

      </AuContent>
    </container.content>
  </AuMainContainer>
  <AuMainFooter>
    <AuHeading @level="3" @skin="4">
      validatetool.vlaanderen.be is een officiële website van de Vlaamse
      overheid
    </AuHeading>
    <AuContent @skin="small">
      <p>Uitgegeven door
        <a
          class="au-c-link"
          href="https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur"
        >Agentschap Binnenlands Bestuur</a></p>
      <ul class="au-c-list-horizontal">
        <li class="au-c-list-horizontal__item">
          <AuLink @route="index" @skin="secondary">Disclaimer</AuLink>
        </li>
        <li class="au-c-list-horizontal__item">
          <AuLink @route="index" @skin="secondary">Cookieverklaring</AuLink>
        </li>
      </ul>
    </AuContent>
  </AuMainFooter>
</AuApp>
