{{page-title "Validation Results"}}

<span class="au-u-text-center">
  <h2>Validatie resultaten</h2>

  <span class="au-u-margin-top-tiny publication-link">
    <p>Resultaat van de validatie van het document met type
      <p class="au-u-medium">
        {{this.document.subject}}
      </p>
    </p>
  </span>
  {{#unless this.isLoading}}
    {{#if this.document.maturity}}
      <h3>Maturiteit: {{this.document.maturity}}</h3>
    {{/if}}
  {{/unless}}
  <AuLinkExternal
    class="publication-link"
    @href={{this.document.documentURL}}
  >{{this.document.documentURL}}</AuLinkExternal>
</span>
{{#if this.isLoading}}
  <AuLoader @centered={{true}}>
    Valideren van publicatie...
  </AuLoader>
{{else}}
  <div class="au-u-flex au-u-flex--column au-u-flex--center au-u-1-1">
    {{#each this.validatedDocument as |subject|}}
      <Accordion
        class="au-u-1-1"
        @sideLabel={{concat subject.validCount "/" subject.totalCount}}
        @defaultOpen={{false}}
        @iconOpen="nav-down"
        @iconClosed="nav-up"
        @buttonLabel={{format-entry-name subject.typeName}}
      >
        {{#each subject.properties as |property|}}
          <RecursionEntry @property={{property}} />
        {{/each}}
      </Accordion>
    {{/each}}
  </div>
{{/if}}