{{page-title "Validation Results"}}

<span class="au-u-text-center">
  <h2>Validatie resultaten</h2>
  <p class="au-u-margin-top-tiny">Resultaat van de validatie van het document:
  </p>
  <AuLinkExternal
    class="publication-link"
    @href={{this.document.documentURL}}
  >{{this.document.documentURL}}</AuLinkExternal>
</span>
<div class="au-u-flex au-u-flex--column au-u-flex--center au-u-1-1">
  {{#each this.validatedDocument as |documentType|}}
    <Accordion
      class="au-u-1-1"
      @sideLabel={{concat documentType.validCount "/" documentType.totalCount}}
      @defaultOpen={{false}}
      @iconOpen="nav-down"
      @iconClosed="nav-up"
      @buttonLabel={{documentType.name}}
    >
      {{#each documentType.validatedProperties as |property|}}
        <AuAlert
          @skin={{if property.valid "success" "warning"}}
          @icon={{if property.valid "check" "cross"}}
          @title={{property.name}}
          class="au-u-margin-bottom-none"
        >
          <p>{{property.description}}</p>
          <section class="au-u-flex">
            <span class="au-u-flex au-u-margin-right-small">
              <p>Aantal gevonden:&nbsp;</p><p>{{property.actualCount}}</p>
            </span>
            {{#if property.minCount}}
              <span class="au-u-flex au-u-margin-right-small">
                <p>Aantal min. vereist:&nbsp;</p><p>{{property.minCount}}</p>
              </span>
            {{/if}}
            {{#if property.maxCount}}
              <span class="au-u-flex au-u-margin-right">
                <p>Aantal max. vereist:&nbsp;</p><p>{{property.maxCount}}</p>
              </span>
            {{/if}}
          </section>
        </AuAlert>
      {{/each}}
    </Accordion>
  {{/each}}

</div>