{{page-title "Validation Results"}}

<div class="au-u-text-center">
  <h2>Validatie resultaten</h2>

  <span class="au-u-margin-top-tiny publication-link">
    <p>Resultaat van de validatie van het document met type
      <p class="au-u-medium">
        {{this.document.subject}}
      </p>
    </p>
  </span>
  {{#unless this.isLoading}}
    {{#if this.document.maturity}}
      <h3>Maturiteit: {{this.document.maturity}}</h3>
    {{/if}}
  {{/unless}}
  <AuLinkExternal
    class="publication-link"
    href={{this.document.documentURL}}
  >{{this.document.documentURL}}</AuLinkExternal>

  <section class="au-u-margin-top">
    <AuPill @skin={{"success"}}>Correct/Volledig</AuPill>
    <AuPill @skin={{"border"}}>Correct/Volledig</AuPill>
    <AuPill @skin={{"default"}}>Niet Gevalideerd</AuPill>
    <AuPill @skin={{"warning"}}>Onvolledig</AuPill>
    <AuPill @skin={{"error"}}>Onvolledig</AuPill>
  </section>
</div>

{{! Validation Results }}
{{#if this.isLoading}}
  <AuLoader @centered={{true}}>
    Valideren van publicatie...
  </AuLoader>
{{else}}
  <div class="au-u-flex au-u-flex--column au-u-flex--center au-u-1-1">
    {{#each this.validatedDocument as |collection|}}
      {{#if (eq (get collection 'count') 1)}}
        <RootSubject @subject={{get collection.objects 0}} />
      {{else}}
        <ClassCollection @collection={{collection}} />
      {{/if}}
    {{/each}}
  </div>
{{/if}}
